body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.split-screen {
  display: flex;
}

.storage {
  width: 50%;
  height: 500px;
  border: black 5px;
  color: purple;
}
